<div class="col-lg-5">
  <table class="table table-striped table-dark" style="margin-left: 20px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Región</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-custom" *ngFor="let coffee of coffies; let i = index" [attr.data-index]="i">
        <th scope="row">{{i}}</th>
        <td class="nombre">{{coffee.nombre}}</td>
        <td class="tipo">{{coffee.tipo}}</td>
        <td class="region">{{coffee.region}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-7"></div>
<div class="row" style="margin-left: 10px;">
  <p>Total café de origen: {{totalOrigen}}</p>
  <p>Total café blend: {{totalBlend}} </p>
</div>
